<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Julien Jonathan">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="page-top">
<!-- Navbar -->
<% include navbar %>
    <!-- Content -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- Dashboard -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Dashboard</h1>
                    <p class="lead">Présentation du dashboard</p>
                </div>
            </div>
            <!-- Miac -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active font-weight-bold" aria-current="page">Miac</li>
                </ol>
            </nav>
            <div class="row mb-3">
                <div class="col">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="mr-5">
                                <h4>Connecté</h4>
                            </div>
                            <p>Connection au MIAC OK.</p>
                            <p class="text-center font-weight-bold">Cellule Solaire</p>
                            <div class="card-body-icon">
                                <i class="fas fa-solar-panel"></i>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/solaire">
                            <span class="float-left ">Détail</span>
                            <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="mr-5">
                                <h4>Connecté</h4>
                            </div>
                            <p>Connection au MIAC OK.</p>
                            <p class="text-center font-weight-bold">Cellule de production 1</p>
                            <div class="card-body-icon">
                                <i class="fas fa-bolt"></i>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/productionn1">
                            <span class="float-left">Détail</span>
                            <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="mr-5">
                                <h4>Connecté</h4>
                            </div>
                            <p>Connection au MIAC OK.</p>
                            <p class="text-center font-weight-bold">Cellule de production 2</p>
                            <div class="card-body-icon">
                                <i class="fas fa-bolt"></i>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/productionn2">
                            <span class="float-left">Détail</span>
                            <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="mr-5">
                                <h4>Connecté</h4>
                            </div>
                            <p>Connection au MIAC OK.</p>
                            <p class="text-center font-weight-bold">Cellule Eolienne</p>
                            <div class="card-body-icon">
                                <i class="fas fa-wind"></i>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/eolienne">
                            <span class="float-left">Détail</span>
                            <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Compteurs d'énergie -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active font-weight-bold" aria-current="page">Compteurs d'énergie</li>
                </ol>
            </nav>
            <div class="row mb-3">
                <div class="col">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="mr-5">
                                <h4>Déconnecté</h4>
                            </div>
                            <p>Connection au compteur 1  OK.</p>
                            <p class="text-center font-weight-bold">Cellule de consommation n°1</p>
                            <div class="card-body-icon">
                                <i class="fas fa-solar-panel"></i>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/consommateurn1">
                            <span class="float-left ">Détail</span>
                            <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="mr-5">
                                <h4>Déconnecté</h4>
                            </div>
                            <p>Connection au compteur 2  OK.</p>
                            <p class="text-center font-weight-bold">Cellule de consommation n°2</p>
                            <div class="card-body-icon">
                                <i class="fas fa-solar-panel"></i>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/consommateurn2">
                            <span class="float-left ">Détail</span>
                            <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="mr-5">
                                <h4>Déconnecté</h4>
                            </div>
                            <p>Connection au compteur 3  OK.</p>
                            <p class="text-center font-weight-bold">Cellule de consommation n°3</p>
                            <div class="card-body-icon">
                                <i class="fas fa-solar-panel"></i>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/consommateurn3">
                            <span class="float-left ">Détail</span>
                            <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Test card -->
            <div class="card mb-3">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Supervision Ensiame Option Energie 2018</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>
<!-- Bootstrap core JavaScript-->
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<!-- Core plugin JavaScript-->
<script src="/jquery-easing/jquery.easing.js"></script>
<!-- Page level plugin JavaScript-->
<script src="/chart.js/Chart.js"></script>
<script src="/datatables/jquery.dataTables.js"></script>
<script src="/datatables/dataTables.bootstrap4.js"></script>
<!-- Scripts for all pages-->
<!-- Scripts for this page-->
<script src="/javascripts/script.js"></script>
</html>