<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="author" content="Julien Jonathan">

      <title><%= title %></title>

      <link rel="stylesheet" href="/stylesheets/bootstrap.css">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

      <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap4.css">

      <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body id="page-top">
   <!--  Navbar top -->
<% include navbar %>
       <!-- Content -->
       <div id="content-wrapper">
            <div class="container-fluid">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Cellule de production n°1</h1>
                  <p class="lead"></p>
                </div>
              </div>
                <div class="alert alert-primary" role="alert">
                    Connecté au réseau
                </div>
           <div class="card mb-3">
               <div class="card-header">
                   <i class="fas fa-table"></i>
                   Données instantanées
               </div>
               <div class="card-body">
                   <div class="table-responsive">
                       <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                   <thead>
                   <tr>
                       <th>#</th>
                       <th>Tension U(V)</th>
                       <th>Courant panneau I (A)</th>
                       <th>Courant batterie I (A)</th>
                       <th>Courant éolienne I (A)</th>
                       <th>Courant total I (A)</th>
                       <th>Courant irradiance w/m^2</th>
                       <th>Température</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <th scope="row">1</th>
                       <% for (var variable of tabVar1) { %>
                           <td> <%= variable %>
                           </td>
                       <% } %>
                   </tbody>
               </table>
               </div>
           </div>
       </div>
       </div>

           <!-- Footer -->
           <footer class="sticky-footer">
               <div class="container my-auto">
                   <div class="copyright text-center my-auto">
                       <span>Copyright © Supervision Ensiame Option Energie 2018</span>
                   </div>
               </div>
           </footer>

       </div>


   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
       <i class="fas fa-angle-up"></i>
   </a>
  </body>
  <!-- Bootstrap core JavaScript-->
  <script src="/jquery/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/jquery-easing/jquery.easing.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/chart.js/Chart.js"></script>
  <script src="/datatables/jquery.dataTables.js"></script>
  <script src="/datatables/dataTables.bootstrap4.js"></script>

  <!-- Scripts for all pages-->


  <!-- Scripts for this page-->

  <script src="/javascripts/script.js"></script>
</html>
